<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppPhotoIntern"
        tools:targetApi="31">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppPhotoIntern">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="false"
            android:label="@string/app_name"
            tools:ignore="RedundantLabel" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.edit.EditActivity" />
        <activity android:name=".ui.album.AlbumActivity" />
        <activity android:name=".ui.purchase.PurchaseActivity" />
        <activity android:name=".ui.language.LanguageActivity" />
        <activity android:name=".ui.analytics.AnalyticsActivity" />
        <activity android:name=".ui.edit.tools.text.TextActivity" />
        <activity android:name=".ui.edit.tools.sticker.StickerActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="${analyticsCollectionEnabled}" />

    </application>

</manifest>